https://www.perplexity.ai/search/388f6b0d-09f1-4ae9-9c3b-5e5163037109

In [7]:
import numpy as np
import pandas as pd

df = pd.read_csv('world.csv',index_col='國家',usecols=['國家','日期','總確診數','新增確診數','新增死亡數'])
mask = df.index == "台灣"
taiwan = df[mask]
taiwan

            日期     總確診數  新增確診數  新增死亡數
國家
台灣  2020-01-16        0      0      0
台灣  2020-01-17        0      0      0
台灣  2020-01-18        0      0      0
台灣  2020-01-19        0      0      0
台灣  2020-01-20        0      0      0
..         ...      ...    ...    ...
台灣  2022-07-02  3837856  34807     96
台灣  2022-07-03  3870528  32672     88
台灣  2022-07-04  3893643  23115     69
台灣  2022-07-05  3929627  35984    103
台灣  2022-07-06  3964188  34561     95

[903 rows x 4 columns]

In [11]:
taiwan[taiwan['新增死亡數'] >= 100]

            日期     總確診數  新增確診數  新增死亡數
國家
台灣  2022-05-26  1640271  81891    104
台灣  2022-05-27  1735067  94796    126
台灣  2022-05-28  1815703  80636    163
台灣  2022-05-29  1892272  76569    109
台灣  2022-05-30  1952355  60083    109
台灣  2022-06-01  2121231  88248    122
台灣  2022-06-02  2198161  76930    144
台灣  2022-06-03  2274666  76505    142
台灣  2022-06-05  2404871  62077    276
台灣  2022-06-06  2457881  53010    151
台灣  2022-06-07  2540871  82990    124
台灣  2022-06-08  2620941  80070    159
台灣  2022-06-09  2693787  72846    211
台灣  2022-06-10  2762080  68293    213
台灣  2022-06-11  2841696  79616    211
台灣  2022-06-12  2892263  50567    163
台灣  2022-06-13  2937363  45100    109
台灣  2022-06-14  3003501  66138    123
台灣  2022-06-15  3072432  68931    143
台灣  2022-06-16  3135565  63133    168
台灣  2022-06-17  3190787  55222    154
台灣  2022-06-18  3244453  53666    181
台灣  2022-06-19  3295076  50623    172
台灣  2022-06-20  3330695  35619    144
台灣  2022-06-21  3387061  56366    115
台灣  2022-06-22  3439279  52218    171
台灣  2022-06-23  3487599  48320    166
台灣  2022-06-24  3533335  45736    152
台灣  2022-06-25  3573703  40368    151
台灣  2022-06-26  3613345  39642    134
台灣  2022-06-28  3686338  44417    103
台灣  2022-06-30  3767283  38920    118
台灣  2022-07-01  3803049  35766    121
台灣  2022-07-05  3929627  35984    103