In [2]:
import numpy as np
import pandas as pd 

#美國球賽門票收入
tips_df = pd.read_csv('tips.csv')
tips_df.columns = ['總票價', '小費', '吸煙者', '日期', '時間', '大小']
tips_df['小費比例'] = tips_df['小費'] / tips_df['總票價']
tips_df

       總票價    小費  吸煙者    日期      時間  大小      小費比例
0    16.99  1.01   No   Sun  Dinner   2  0.059447
1    10.34  1.66   No   Sun  Dinner   3  0.160542
2    21.01  3.50   No   Sun  Dinner   3  0.166587
3    23.68  3.31   No   Sun  Dinner   2  0.139780
4    24.59  3.61   No   Sun  Dinner   4  0.146808
..     ...   ...  ...   ...     ...  ..       ...
239  29.03  5.92   No   Sat  Dinner   3  0.203927
240  27.18  2.00  Yes   Sat  Dinner   2  0.073584
241  22.67  2.00  Yes   Sat  Dinner   2  0.088222
242  17.82  1.75   No   Sat  Dinner   2  0.098204
243  18.78  3.00   No  Thur  Dinner   2  0.159744

[244 rows x 7 columns]

In [3]:
grouped = tips_df.groupby(by=['吸煙者','日期'])
functions = [('數量','count'),('平均','mean'),('最大值','max')]
tips_df3 = grouped[['小費','總票價']].agg(functions)
tips_df3

          小費                  總票價
          數量        平均    最大值  數量         平均    最大值
吸煙者 日期
No  Fri    4  2.812500   3.50   4  18.420000  22.75
    Sat   45  3.102889   9.00  45  19.661778  48.33
    Sun   57  3.167895   6.00  57  20.506667  48.17
    Thur  45  2.673778   6.70  45  17.113111  41.19
Yes Fri   15  2.714000   4.73  15  16.813333  40.17
    Sat   42  2.875476  10.00  42  21.276667  50.81
    Sun   19  3.516842   6.50  19  24.120000  45.35
    Thur  17  3.030000   5.00  17  19.190588  43.11

In [ ]:
tips_df3['小費']
tips_df3['小費'][['數量','平均']]

          數量        平均    最大值
吸煙者 日期
No  Fri    4  2.812500   3.50
    Sat   45  3.102889   9.00
    Sun   57  3.167895   6.00
    Thur  45  2.673778   6.70
Yes Fri   15  2.714000   4.73
    Sat   42  2.875476  10.00
    Sun   19  3.516842   6.50
    Thur  17  3.030000   5.00

In [6]:
tips_df3.to_excel('tips.xlsx')